<div class="page-header"></div>
<h1 align="center">Arms</h1>
<h4 align="center">Click on photo for the workout!</h4>
<br>
<!DOCTYPE html>
<html lang="en">

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/19">
      <img class="img-responsive" <%= image_tag 'arms_triceps_extension.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/52">
      <img class="img-responsive" <%= image_tag 'arms_drags.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/55">
      <img class="img-responsive" <%= image_tag 'arms_tricep_pushdown_vbar.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/60">
      <img class="img-responsive" <%= image_tag 'arms_hammer.png' %>
    </a>
  </div>
  <br>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/51">
      <img class="img-responsive" <%= image_tag 'arms_dips_triceps.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/53">
      <img class="img-responsive" <%= image_tag 'arms_dhammer_incline.png'%>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/56">
      <img class="img-responsive" <%= image_tag 'arms_tricep_pushdownrope.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/58">
      <img class="img-responsive" <%= image_tag 'arms_curls_straight.png' %>
    </a><br>
  </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/54">
      <img class="img-responsive" <%= image_tag 'arms_triceps_seated.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/18">
      <img class="img-responsive" <%= image_tag 'arms_dinnerb_incline.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/57">
      <img class="img-responsive" <%= image_tag 'arms_tricep_reverse_tricep.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/59">
      <img class="img-responsive" <%= image_tag 'arms_curls_close.png' %>
    </a><br>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="#">&laquo;</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; Your Website 2014</p>
    </div>
  </div>
  <!-- /.row -->
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
