<div class="page-header"></div>
<h1 align="center">Back & Shoulders</h1>
<h4 align="center">Click on photo for the workout!</h4>
<br>
<!DOCTYPE html>
<html lang="en">

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/20">
      <img class="img-responsive" <%= image_tag 'shoulders_1_upright.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/21">
      <img class="img-responsive" <%= image_tag 'back_2_pullup.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/26">
      <img class="img-responsive" <%= image_tag 'shoulders_2_front.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/17">
      <img class="img-responsive" <%= image_tag 'back_1_rows.png' %>
    </a>
  </div>
  <br>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/22">
      <img class="img-responsive" <%= image_tag 'shoulders_1_press.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/24">
      <img class="img-responsive" <%= image_tag 'back_2_wide_pullup.png'%>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/16">
      <img class="img-responsive" <%= image_tag 'shoulders_2_press.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/29">
      <img class="img-responsive" <%= image_tag 'back_1_lats.png' %>
    </a><br>
  </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/23">
      <img class="img-responsive" <%= image_tag 'shoulders_1_raer_delt.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/25">
      <img class="img-responsive" <%= image_tag 'back_2_sp_row.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/27">
      <img class="img-responsive" <%= image_tag 'shoulders_2_rear.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/28">
      <img class="img-responsive" <%= image_tag 'back_1_deadlift.png' %>
    </a><br>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="#">&laquo;</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; Your Website 2014</p>
    </div>
  </div>
  <!-- /.row -->
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
