<div class="page-header"></div>
<h1 align="center">Back & Shoulders</h1>
<h4 align="center">Click on photo for the workout!</h4>
<br>
<!DOCTYPE html>
<html lang="en">

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'abs_1_decline.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'cardio_2_hiit.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'abs_2_plank.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'cardio_1_running.png' %>
    </a>
  </div>
  <br>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'abs_1_heals.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'cardio_2_rows.png'%>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'abs_2_twists.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'cardio_1_jr.png' %>
    </a><br>
  </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'abs_1_roller.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'cardio_2_stairclimber.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'abs_2_lifts.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="#">
      <img class="img-responsive" <%= image_tag 'cardio_1_eli.png' %>
    </a><br>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="#">&laquo;</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; Your Website 2014</p>
    </div>
  </div>
  <!-- /.row -->
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
