<div class="page-header"></div>
<h1 align="center">Chest</h1>
<h4 align="center">Click on photo for the workout!</h4>
<br>
<!DOCTYPE html>
<html lang="en">

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/1">
        <img class="img-responsive" <%= image_tag 'chest_incline.png' %>
      </a>
      <br>
    </div>
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/5">
        <img class="img-responsive" <%= image_tag 'chest_flies_incline.png' %>
      </a>
      <br>
    </div>
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/8">
        <img class="img-responsive" <%= image_tag 'chest_gulluitine.png' %>
      </a>
      <br>
    </div>
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/11">
        <img class="img-responsive" <%= image_tag 'chest_pushups.png' %>
      </a>
    </div>
    <br>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/2">
        <img class="img-responsive" <%= image_tag 'chest_flat.png' %>
      </a><br>
    </div>
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/6">
        <img class="img-responsive" <%= image_tag 'chest_flies_flat.png' %>
      </a><br>
    </div>
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/9">
        <img class="img-responsive" <%= image_tag 'chest_sp_press.png' %>
      </a><br>
    </div>
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/4">
        <img class="img-responsive" <%= image_tag 'chest_pullovers.png' %>
      </a><br>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/3">
        <img class="img-responsive" <%= image_tag 'chest_decline.png' %>
      </a><br>
    </div>
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/7">
        <img class="img-responsive" <%= image_tag 'chest_flies_decline.png' %>
      </a><br>
    </div>
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/10">
        <img class="img-responsive" <%= image_tag 'chest_dips.png' %>
      </a><br>
    </div>
    <div class="col-md-3 portfolio-item">
      <a href="/workoutposts/12">
        <img class="img-responsive" <%= image_tag 'chest_cable_flies.png' %>
      </a><br>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class="pagination">
        <li>
          <a href="#">&laquo;</a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
