<div class="page-header"></div>
<body align="center"></body>
<!DOCTYPE html>
<html lang="en">

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">WorkoutBuddy<br>
        <small>"To accomplish great things we must not only act, but also dream; not only plan, but also believe"</small>
        <br>
        <br>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-responsive" <%= image_tag 'chest.jpg' %>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Chest</h3>
      <h4>Scientific Term: Pectoralis Major</h4>
      <p>The pectoralis major muscle is a large muscle in the upper chest, fanning across the chest from the shoulder to the breastbone. The two pectoralis major muscles, commonly referred to as the "pecs," are the muscles that create the bulk of the chest</p>
      <a class="btn btn-primary" href="/chest">Workouts <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-responsive" <%= image_tag 'shoulders.jpg' %>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Back & Shoulders</h3>
      <h4>Shoulders also known as Deltoids</h4>
      <p>The deltoid muscle is located on the outer aspect of the shoulder and is recognized by its triangular shape. The deltoid muscle was named after the Greek letter Delta due to the similar shape they both share. The deltoid muscle is constructed with three main sets of fibers: anterior, middle, and posterior. </p>
      <a class="btn btn-primary" href="/back">Workouts <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-responsive" <%= image_tag 'arms.jpg' %>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Arms</h3>
      <h4>Triceps & Biceps</h4>
      <p>The biceps brachii, sometimes known simply as the biceps, is a skeletal muscle that is involved in the movement of the elbow and shoulder. It is a double-headed muscle, meaning that it has two points of origin or "heads" in the shoulder area. The short head of each biceps brachii originates at the top of the scapula (at the coracoid process). The long head originates just above the shoulder joint (at the supraglenoid tubercle). Both heads are joined at the elbow.</p>
      <a class="btn btn-primary" href="/arms">Workouts <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Four -->

  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-responsive" <%= image_tag 'legs.jpg' %>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Legs</h3>
      <h4>Quads, Glutes, Hamstrings</h4>
      <p>The gluteal muscles are a group of three muscles which make up the buttocks: the gluteus maximus, gluteus medius and gluteus minimus. The hamstrings are three muscles at the back of the thigh that affect hip and knee movement. The quadriceps—the strongest and leanest muscles in the body—are a four-muscle group at the front of the thigh that work to extend the knee and lower leg.</p>
      <a class="btn btn-primary" href="/legs">Workouts <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Five -->
  <div class="row">

    <div class="col-md-7">
      <a href="#">
        <img class="img-responsive" <%= image_tag 'triceps.jpg' %>
      </a>
    </div>
    <div class="col-md-5">
      <h3>Abs - Cardio</h3>
      <h4>Scientific Term: Triceps Brachii</h4>
      <p>The triceps brachii is a major muscle of the upper arm in the human body. The triceps run along the humerus (the main bone of the upper arm) between the shoulder and the elbow. Along with the biceps, it enables extension and retraction of the forearm. When the triceps are contracted, the forearm extends and the elbow straightens; if the triceps are relaxed and the biceps flexed, the forearm retracts and the elbow bends.</p>
      <a class="btn btn-primary" href="/cardio">Workouts <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>

  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class="pagination">
        <li>
          <a href="#">&laquo;</a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2016</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
