<div class="page-header"></div>
<h1 align="center">Legs</h1>
<h4 align="center">Click on photo for the workout!</h4>
<br>
<!DOCTYPE html>
<html lang="en">

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/40">
      <img class="img-responsive" <%= image_tag 'legs_1_hacksquats.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/43">
      <img class="img-responsive" <%= image_tag 'legs_3_calf_raise.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/46">
      <img class="img-responsive" <%= image_tag 'legs_2_cowboy.png' %>
    </a>
    <br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/49">
      <img class="img-responsive" <%= image_tag 'legs_4_box.png' %>
    </a>
  </div>
  <br>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/41">
      <img class="img-responsive" <%= image_tag 'legs_1_legextension.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/44">
      <img class="img-responsive" <%= image_tag 'legs_3_calf_raisestanding.png'%>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/47">
      <img class="img-responsive" <%= image_tag 'legs_2_dl.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/50">
      <img class="img-responsive" <%= image_tag 'legs_4_rl.png' %>
    </a><br>
  </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/42">
      <img class="img-responsive" <%= image_tag 'legs_1_lungebarbell.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/45">
      <img class="img-responsive" <%= image_tag 'legs_3_calf_dk.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/48">
      <img class="img-responsive" <%= image_tag 'legs_2_press.png' %>
    </a><br>
  </div>
  <div class="col-md-3 portfolio-item">
    <a href="/workoutposts/13">
      <img class="img-responsive" <%= image_tag 'legs_4_oly.png' %>
    </a><br>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="#">&laquo;</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; Your Website 2016</p>
    </div>
  </div>
  <!-- /.row -->
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
