<div class="page-header"></div>
<h4 align="center">Welcome to <%= @user.email.capitalize %>'s page!
  <br><br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
      <%= gravatar_for @user %>
    </div>
  </div>
  <br><br>
  <%= @user.first_name %>'s Workouts

</h4>
<body align="center"></body>


<a class="btn btn-primary"<%= link_to "Bodypart Picker", root_path %></a>
<br><br>
<a class="btn btn-primary"<%= link_to "Track Today's Workout", new_post_path %></a>
<br><br>



