<div class="page-header"></div>

  <h1>Workouts</h1>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th><%= sortable('body_part') %></th>
            <th><%= sortable('duration') %></th>
            <th><%= sortable('name_of_workout') %></th>
            <th><%= sortable('description_of_workout') %></th>
            <th><%= sortable('reps') %></th>
            <th><%= sortable('sets') %></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @workoutposts) do |workoutpost| %>
            <td><%= workoutpost.body_part %></td>
            <td><%= workoutpost.duration %></td>
            <td><%= workoutpost.name_of_workout %></td>
            <td><%= workoutpost.description_of_workout %></td>
            <td><%= workoutpost.reps %></td>
            <td><%= workoutpost.sets %></td>
            <td><%= link_to 'Show', workoutpost %></td>
        <td><%= link_to 'Edit', edit_workoutpost_path(workoutpost) %></td>
        <td><%= link_to 'Destroy', workoutpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
